# Prompt configuration
export PS1='\u@\h:\e[1;33m \w \e[m$ '

# Color settings
export CLICOLOR=1
export LSCOLORS=dxfxcxdxbxegedabagacad

# Vim is the editor of choice
export EDITOR=vi
export SVN_EDITOR=vi

# History settings
export HISTCONTROL=ignoredups
export HISTSIZE=1000
export HISTFILESIZE=1000
export HISTTIMEFORMAT="%T  "
export HISTIGNORE="ls:ls *:ll:la:ld:cd:cd -:pwd:* --help" 
