[alias]
  ad = add
  br = branch
  ca = "commit --amend"
  can = "commit --amend --no-verify"
  ci = commit
  co = "checkout -q"
  di = "diff"
  dis = "-c delta.side-by-side=true diff"
  fe = "fetch -p"
  lg = "log --stat"
  ln = "lg --name-only"
  ps = push
  pf = "push --force-with-lease"
  pfn = "push --force-with-lease --no-verify"
  pl = pull
  rb = rebase
  rc = rebase --continue
  sh = "show --stat"
  st = "status -s --ignore-submodules=dirty"
  sl = stash list
  ss = stash save
  sp = stash pop
[color]
  ui = auto
  branch = auto
  status = auto
[color "branch"]
  current = green
  local = white
  remote = red
  upstream = blue
[color "diff"]
  commit = white
  meta = normal
  frag = normal
  old = red
  new = green
[color "status"]
  header = normal
  added = green
  updated = green
  changed = red
  untracked = red
  nobranch = white
[color "interactive"]
  prompt = white
  header = white
  help = normal
  error = red
[user]
  name = Teun Zengerink
  email = 539075+tzengerink@users.noreply.github.com
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = delta
[http]
  sslVerify = false
[commit]
  gpgsign = false
[push]
  default = current
[pull]
  rebase = true
[gpg]
  program = gpg
[advice]
  skippedCherryPicks = false

# https://dandavison.github.io/delta/
# $> brew install git-delta
[delta "my-custom-theme"]
  dark = true
  syntax-theme = TwoDark
  line-numbers = true
  line-numbers-left-format = "{nm:>4} "
  line-numbers-right-format = "{np:>4} "
  line-numbers-zero-style = 240
  line-numbers-plus-style = 2
  line-numbers-minus-style = 1
  file-style = 255 box
  file-decoration-style = "none"
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  hunk-header-style = raw
  hunk-header-decoration-style = 240 ul
  zero-style = syntax
  plus-style = syntax "#0D2C0F"
  plus-emph-style = syntax "#164D1A"
  minus-style = syntax "#440B0B"
  minus-emph-style = syntax "#991818"
  blame-code-style = syntax
  blame-format = "{author:>40} ({commit:>8}) {timestamp:<13} "
  blame-palette = 233 235 237 239
[delta]
  paging = always
  navigate = true
  side-by-side = false
  features = my-custom-theme
