*.pyc
*~
.DS_Store
.py-env
.node-env
.svn
.cache/
__pycache__
node_modules
.nvmrc
.idea

# Ignore all .config except specific directories we want to track
.config/*
!.config/nvim/
.config/nvim/pack/*
!.config/alacritty/
!.config/bat/

# Ignore tmux plugins (managed by TPM)
.tmux/plugins

# Aider
.aider*
!.aider.conf.yml
