[alias]
	ad = add
	br = branch -vv
	ai = "!git add -A && git ci"
	aip = "!git ai && git pu"
	ci = commit
	co = "checkout -q"
	di = "!git difftool"
	fe = fetch
	lg = "log --pretty=format:'%C(bold black)%h%Creset %s %C(bold black)%an, %ad%Creset' --date=relative"
	mg = merge
	pu = push
	rs = reset
	st = "status -s --ignore-submodules=dirty"
	sa = "!sh -c 'git stash apply stash@{$1}' -"
	sl = stash list
	ss = stash save
[color]
	ui = auto
	branch = auto
	status = auto
[color "branch"]
	current = green bold
	local = white bold
	remote = red bold
	upstream = black bold
[color "diff"]
	commit = green bold
	meta = red bold
	frag = red bold
	old = red bold
	new = green bold
[color "status"]
	header = normal
	added = green bold
	updated = green bold
	changed = red bold
	untracked = red bold
	nobranch = white bold
[color "interactive"]
	prompt = white bold
	header = white bold
	help = normal
	error = red bold
[core]
	excludesfile = ~/.gitignore
	editor = vim
	pager = less -F -X
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[http]
	sslVerify = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[user]
	name = Teun Zengerink
[push]
	default = matching
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
