[alias]
	ad = add
	br = branch -vv
	ai = "!git add -A && git ci"
	aip = "!git ai && git pu"
	ci = commit
	ca = "commit --amend"
	co = "checkout -q"
	di = "diff -p"
	fe = "fetch -p"
	lg = "log --name-only"
	mg = merge
	pu = push
	pf = "push --force-with-lease"
	pl = pull
	pr = pull --rebase
	rb = rebase
	rs = reset
	st = "status -s --ignore-submodules=dirty"
	sl = stash list
	ss = stash save
	sp = stash pop
	sh = "!showtool () { rev=${1:-HEAD}; git difftool $rev~1 $rev; }; showtool $1"
[color]
	ui = auto
	branch = auto
	status = auto
[color "branch"]
	current = green bold
	local = white bold
	remote = red bold
	upstream = black bold
[color "diff"]
	commit = white bold
	meta = black bold
	frag = black bold
	old = red bold
	new = green bold
[color "status"]
	header = normal
	added = green bold
	updated = green bold
	changed = red bold
	untracked = red bold
	nobranch = white bold
[color "interactive"]
	prompt = white bold
	header = white bold
	help = normal
	error = red bold
[commit]
	gpgsign = false
[core]
	excludesfile = ~/.gitignore
	editor = vim
[diff]
	tool = vscode
[difftool "vscode"]
	prompt = false
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	prompt = false
	cmd = code --wait $MERGED
[gpg]
	program = gpg
[http]
	sslVerify = false
[user]
	name = Teun Zengerink
	signingkey = D45951B13602B995
[push]
	default = current
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
