"*":
  "exception-reporting":
    userId: "94d959ca-f9bf-a2c5-135b-5fe2046f5c13"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontSize: 10
    showInvisibles: true
    showIndentGuide: true
  core: {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  minimap: {}
  "spell-check": {}
".js.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
